* {
    margin: 0;
}

h1 {

    font-size: 70px;
}

.grid {
    height:100vh; 
    display: grid; 
    grid-template-rows: 50% 50%; 
    grid-template-columns: 50% 50%; 
    grid-template-areas:  
    "header header" 
    "content content" 
   
}

.main {
    grid-area: content;
    justify-content: center;
    background: white;
    grid-column:1 / 3; 
    grid-row:1 / 3; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    position: relative;
    background-image: linear-gradient( 135deg, #EE9AE5 10%, #5961F9 100%);
    padding: 22px;
    border-radius: 200px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.talk {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    width: 350px;
    height: 350px;
    background: white;
    border: none;
    
}




  